*bak
*bck
*.l#*
*.s#*
*.b#*
*.top
*.bot
*.L1
*.L2
*.L3
*.L4
*.bsp
*.tsp
*.bps
*.bsk
*.drd
*.dri
*.dru
*.gpi
*.oln
*.slk
*.smb
*.smt
*.tps
*.centroid
*.svg
*.mil
*.crop
*.hs
.~lock.*.xlsx#
_autosave-*.kicad_pcb
kicad.pretty
$*.sch
